* {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/* HEADER STYLES */
header {
    background-color: #2C3E50;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 20px;
}

li {
    display: inline;
    padding: 25px;
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: #1ABC9C;
}

a:hover {
    color: #A4C8E1;
}

/* INTRO STYLES */
h1 {
    color: #1ABC9C;
    font-size: 3em;
    text-align: center;
}

.profile-pic-class {
    width: 300px;
    height: auto;
}

#greeting > p {
    font-size: 1.2em;
    text-align: center;
    padding: 15px 0 0 0;
    width: 500px;
    color: #F0F0F0;
}

#greeting {
    height: 450px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #34495E;
}

/* PROJECT STYLES */
#projects {
    height: 530px;
    width: auto;
    background-color: #ECF0F1;
}

#projects > h2 {
    color: #16A085;
    text-align: center;
    font-size: 2.5em;
    padding: 20px 0 35px 0;
}

.project-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-square {
    width: 350px;
    height: 350px;
    background-color: lightblue;
}

/* CONTACT STYLES */
#contact-me {
    height: 550px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #34495E;
}

#contact-message > h2 {
    color: #1ABC9C;
    text-align: center;
    font-size: 2.5em;
}

#contact-message > p {
    text-align: center;
    font-style: italic;
    font-size: 1.4em;
    color: #1ABC9C
}

#social-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    padding-top: 90px;
}

.social-icon {
    width: 60px;
    height: auto;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-links > a {
    padding-right: 15px;
}

.social-name {
    font-size: 1.6em;
    color: #1ABC9C;
}

/* FOOTER STYLES */
footer {
    background-color: #2C3E50;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: #1ABC9C;
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
}